{% extends "base.html" %}

{% block title%}
delete {{data}}
{% endblock%}

{% block content %}

<div class="container mt-3">
        <div class="row justify-content-center ">
            <div class="col-md-6 col-lg-5">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <div class="d-grid gap-2 d-md-block mx-5 mt-3">
                        <button class="btn btn-primary w-25 " type="submit">Update</button>
                        <a class="btn btn-danger w-25" href="{% url 'home'%}">cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock%}